<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <easyflags>
            <general>
                <enabled>0</enabled>
            </general>
            <lang_switcher>
                <mode>dropdown</mode>
            </lang_switcher>
        </easyflags>
        <swissup_amp>
            <whitelist>
                <layout_updates>
                    <swissup_easyflags>Swissup_Easyflags</swissup_easyflags>
                </layout_updates>
            </whitelist>
        </swissup_amp>
        <subscriptionchecker>
            <ignore>
                <easyflags/>
            </ignore>
        </subscriptionchecker>
    </default>
</config>
