<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_store_edit_form_prepare_form">
        <observer name="swissup_easyflags" instance="Swissup\Easyflags\Observer\AddFlagData"/>
    </event>
    <event name="controller_action_postdispatch_adminhtml_system_store_save">
        <observer name="swissup_easyflags" instance="Swissup\Easyflags\Observer\SaveFlagData" />
    </event>
</config>
