.page-header .switcher { margin: 0 !important; }

.easyflags-clickable-options { margin-left: 5px; }

.easyflags .easyflags-clickable-options,
.easyflags .easyflags-active { display: inline-block; float: left; }
.easyflags a:hover { text-decoration: none; }