.easyflags {
    .flag-image {
        max-height: 22px;
        vertical-align: middle;
    }

    .flag-placeholder {
        background-color: rgba(0, 0, 0, 0.3);
        color: #fff;
        padding: 2px 4px;
        text-transform: uppercase;
    }

    &-clickable-options,
    &-active {
        display: inline-flex;

        > a, > strong {
            line-height: normal;
        }

        .flag-placeholder {
            vertical-align: middle;
        }
    }

    &-clickable-options {

        > a {
            opacity: .8;
            margin: 0 2px;
            text-decoration: none;

            &:hover {
                text-decoration: none;
                opacity: 1;
            }
        }
    }
}
