.easyflags {
    .flag-image {
        max-height: 22px;
        vertical-align: middle;
    }

    .flag-placeholder {
        background-color: rgba(0, 0, 0, 0.3);
        color: #fff;
        padding: 2px 4px;
        text-transform: uppercase;
    }

    &-clickable-options,
    &-active {
        display: inline-flex;

        .switcher-popup & {
            flex-wrap: wrap;
        }

        > a, > strong {
            line-height: normal;
        }
    }

    &-clickable-options {

        > a {
            opacity: .8;
            margin: 0 2px;
            text-decoration: none;

            .switcher-popup & {
                margin: 2rem 1rem;
            }

            &:hover {
                text-decoration: none;
                opacity: 1;
            }
        }
    }

    .popup-mode .switcher-popup{
        display: none;
    }

    .modal-inner-wrap {
        width: 50%;
    }
}
